{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/watchlist/watchlist.css' %}" />
{% endblock %}

{% block content %}
<section class="watchlist-section">
    <h1 class="watchlist-title">My Watchlist</h1>

    {% if watchlist_items %}
        <div class="watchlist-container">
            {% for item in watchlist_items %}
                <div class="watchlist-card">
                    <img src="{% if item.anime.image_url %}{{ item.anime.image_url.url }}{% else %}{% static 'images/placeholder.png' %}{% endif %}" 
                        alt="{{ item.anime.title }} cover" class="watchlist-img">

                    <div class="watchlist-info">
                        <h2>
                            <a href="{% url 'anime-detail' item.anime.id %}" class="watchlist-title-link">
                                {{ item.anime.title }}
                            </a>
                        </h2>
                        <p>Status: <strong>{{ item.get_status_display }}</strong></p>

                        <form method="POST" action="{% url 'update-watchlist' item.anime.id %}" class="status-form">
                            {% csrf_token %}
                            <input type="hidden" name="status" value="watching">
                            <button type="submit" class="update-status-btn">Update</button>
                        </form>
                        

                        <form method="POST" action="{% url 'remove-watchlist' item.anime.id %}" class="remove-form">
                            {% csrf_token %}
                            <button type="submit" class="btn-remove">❌ Remove</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="empty-watchlist">No anime in your watchlist yet.</p>
    {% endif %}
</section>
{% endblock %}
