.watchlist-section {
    text-align: center;
    padding: 20px;
}

.watchlist-section h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

.watchlist-container {
    padding: 0 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.watchlist-card {
    background-color: #222;
    border-radius: 8px;
    padding: 15px;
    width: 275px; 
    text-align: center;
    transition: 0.3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

.watchlist-card:hover {
    transform: scale(1.05);
}

.watchlist-card img {
    width: 100%;
    max-width: 180px;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
}

.watchlist-card h3 {
    font-size: 20px;
    color: #fff;
    margin-top: 10px;
}

.status-dropdown {
    margin-top: 10px;
}

.status-dropdown select {
    background-color: #333;
    color: #fff;
    border: 1px solid #555;
    padding: 8px;
    border-radius: 5px;
    width: 100%;
    font-size: 14px;
    cursor: pointer;
}

.update-status-btn {
    margin-top: 10px;
    background: #38caff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    transition: background 0.3s;
}

.update-status-btn:hover {
    background: #7cdcff;
}

.watchlist-title {
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    display: block;
    margin-top: 5px;
}

@media only screen and (max-width: 768px) {
    .watchlist-container {
        flex-direction: column;
        align-items: center;
    }

    .watchlist-card {
        width: 90%;
    }

    .watchlist-section h2 {
        font-size: 20px;
    }

    .status-dropdown select {
        font-size: 16px;
    }

    .update-status-btn {
        font-size: 16px;
    }
}
