.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.search-form {
    display: flex;
    align-items: center;
    background: #333;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #444;
    width: 100%;
    max-width: 400px;
}

.search-input {
    flex-grow: 1;
    padding: 10px 15px;
    border: none;
    outline: none;
    font-size: 16px;
    background: #222;
    color: #fff;
}

.search-btn {
    background: #38caff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: background 0.3s;
}

.search-btn:hover {
    background: #7cdcff;
}

@media (max-width: 768px) {
    .search-container {
        flex-direction: column;
    }
    .search-form {
        width: 90%;
    }
}

.card-container {
    padding: 0 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 275px;
    margin: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); 
    border-radius: 8px; 
}

.card-content {
    padding: 10px;
    width: 100%;
}

.usr-img {
    width: 100%;
    border-radius: 8px;
}

.card > a {
    text-decoration: none;
    color: #333; 
}

.card h2 {
    margin: 10px 0;
    font-size: 20px;
}

.card p {
    margin: 5px 0;
    font-size: 16px; 
}
