{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/auth/auth.css' %}">
{% endblock %}

{% block content %}
<section class="auth-container">
    <h1>Sign In</h1>
    <form method="POST" class="auth-form">
        {% csrf_token %}
        <div class="form-group">
            {{ form.username.label_tag }}
            {{ form.username }}
        </div>
        <div class="form-group">
            {{ form.password.label_tag }}
            {{ form.password }}
        </div>
        <button type="submit" class="btn-auth">Sign In</button>
    </form>
    <p class="auth-footer">Don't have an account? <a href="{% url 'signup' %}">Sign Up</a></p>
</section>
{% endblock %}
